<html>
    <body>
            <h1>French tips to advance your french learning</h1>
        <input id="tipName" placeholder="Tip Name">
        <br>
        <textarea id="tipAdvice" placeholder="Tip Advice" style="resize: none"></textarea>
        <br>
        <button onclick="saveTip()">Save Tip</button>
        <br><br>
        <table id="tipsTable" cellspacing="10px">
            <th id="name">NAME</th>
            <th id="advice">ADVICE</th>
            <th id="delete">DELETE</th>
        </table>
        <script src="/tips/tips.js"></script>
    </body>
</html>